@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');


header {
    background-color: rgba(137, 43, 226, 0.418);
}

header .container h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color: #fae362;
}

header .container .nav-pills a {
    font-weight: bold;
    font-size: 20px;
    color: #d3d3d3b7;
}

#carousel {
    margin: 0 auto;
    padding-top: 20px;
}

#carousel img, 
#carousel {
    width: 1000px;
    height: 400px;
}

